<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DG Blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
{#    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" type='text/css'>#}
{#    <link rel="stylesheet" href="{% static 'css/blog.css' %}">#}
</head>
<body>

{{ teste }}

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">DG Blog</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <a href="{% url 'post_new' %}"><span class="glyphicon glyphicon-plus"></span></a>
                    <a href="{% url 'post_draft_list' %}"><span class="glyphicon glyphicon-edit"></span></a>
                    <li><a href="">Blah1</a></li>
                    <li><a href="">Blah2</a></li>
                    <li><a href="/admin/">Admin</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Logout</a></li>
                    <li><a href="">{{user.username}}</a></li>
                {% else %}
                    <li><a href="">About</a></li>
                    <li><a href="">Registre-se Aqui</a></li>
                    <li><a href="">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</div>

</body>
</html>