{% extends 'blog/base.html' %}

{% block content %}
    <h1>Nova postagem</h1>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Salvar</button>
    </form>
{% endblock %}