{% extends 'blog/base.html' %}

{% block content %}

    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h2><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h2>
            <p>{{ post.text|truncatewords:50 |linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock content %}